.topnav{
    overflow:hidden;
    width:100%;
    background-color:black;
    top:0;
    left:0;
    z-index:1;
    margin:center;
    position:fixed;
    padding:5px;
    color:white;
}
.topnav a{
    float:center;
    color:white;
    text-decoration:none;
    padding:14px 16px;
}
body{
  text-align:center;
  font-family: 'Merriweather', serif;
  background-color:#16DFC7;
}
.leftalign {
  text-align: left;
}
th {
  width:50px;
}
td{
  height:50px;
}